/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;

	font: 500 15px/42px $body-font-family;
	background: #fff;
	border-radius: 23px;
	text-decoration: none;
	border: 1px solid #d1d3de;
	color: $text-color-dark;
	height: 45px;
	min-width: 160px;
	text-align: center;
	padding: 0 15px;

	&:hover{
		background-color: $text-color-dark;
		color: #fff;
	}
}
.ba-button{

	&--light{
		border-color: #fff;
		background-color: #fff9f6;
		color: $primary-color;

		&:hover{
			border-color: $primary-color;
			background-color: $primary-color;
			color: #fff;
		}		
	}
	&--hollow{
		border-color: #fff;
		background-color: transparent;
		color: #fff;

		&:hover{
			background-color: #fff;
			color: $text-color-dark;
		}
	}
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	&:focus{
		
	}
}

textarea {

}
