.ba-section-contact{
	color: #ffffff;
	background: #202020 url(../img/footer-bg.jpg) 50% no-repeat;
	background-size: cover;
	padding: 36px 0 40px;

	&__tweets{
		position: relative;
		display: flex;
		text-align: left;
		align-items: center;
		border-bottom: 1px solid #323232;
		margin-bottom: 40px;

		@media screen and (min-width:$medium){
			margin-bottom: 95px;
		}

		&-subtitle{
			font-size: 13px;
			line-height: 22px;
			font-family: $body-font-family;
			max-width: 575px;
			padding-left: 16px;
			color: #c0c0c0;
		}

		&-icon{
			position: absolute;
			right: 15px;
			color: #fff;

			a{
				margin-right: 15px;

				svg{
					fill: currentColor;
				}
			}
		}
	}

	&__post{
		padding-top: 45px;
		padding-bottom: 148px;
		color: #c6c6c6;

		@media screen and (min-width:$medium){
			padding-top: 63px;
			padding-bottom: 148px;
		}

		&-title{
			padding-bottom: 20px;
			color: #fff;

			@media screen and (min-width:$medium){
				padding-bottom: 30px;
			}
		}

		&-subtitle{
			margin: 0;
		}

		&-list{
			list-style: none;
			margin: 0;
			padding: 0;
			padding-top: 20px;
			padding-bottom: 30px;

			@media screen and (min-width:$medium){
				padding-top: 30px;
				padding-bottom: 0;
			}

			li{
				a{
					color: #c6c6c6;

					svg{
						margin-right: 10px;
						fill: #c6c6c6;
					}

				}
			}
		}
	}

	&__info{
		text-align: center;

		@media screen and (min-width:$medium){
			text-align: left;
		}
	}

	&__form{
		&-row{
			display: flex;
		}

		&-button{
			max-width: 100%;
			text-align: center;
			height: 36px;
			line-height: 24px;
			margin-left: 17px;
			border-radius: 0;
			border: none;
			background-color: #e25050;
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			font-family: Oswald;
			padding: 6px 27px 6px 27px;

			svg{
				margin-left: 23px;
			}

			&:hover{
				background-color: #be3d3d;
				color: #fff;
			}
		}
	}


	form{
		// display: flex;

		input{
			margin: 0;
			width: 100%;
			margin-bottom: 16px;
			// display: block;
			height: 36px;
			border: 1px solid #7d7d7d;
			background: #202020;
			padding: 12px;
			color: #656565;

			& + input{
				margin-left: 17px;
			}
		}

		textarea{
			width: 65.8%;
			height: 111px;
			border: 1px solid #7d7d7d;
			background: #202020;
			padding: 12px;
			color: #656565;

		}

	}

	svg{
		fill: #fff;
	}
}