.ba-header {
   background: $text-color-dark;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
   background-size: cover;
   height: 75px;

   @media screen and (min-width: $medium) {
      height: 100px;
   }
}

.ba-menu {
   list-style: none;
   padding: 0;
   margin: 0;
   line-height: 1;
   padding-top: 45px;

   a {
      text-decoration: none;
      color: #fefefe;
      font-size: 14px;
      font-weight: 400;
      padding: 10px 14px 9px;

      &:hover {
        // padding: 2px;
         background: $primary-color;
      }
   }

   @media screen and (min-width: $large) {
      display: flex;
      align-items: center;

      a {
			padding: 10px 14px 9px;
			
         &:hover {
           // padding: 10px 14px 9px;
          background: $primary-color;
         }
      }

      li + li {
         margin-left: 10px;
      }
   }
}

.ba-main-nav {
   @media screen and (min-width: $large) {
      display: flex;
   }
  @media screen and (max-width: $large - 1px) {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: rgba(#000, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    transition: 0.2s;
    transition-property: transform, opacity, visibility;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }

    .ba-menu {
      a {
        font-size: 20px;
        margin-bottom: 25px;
        display: block;
      }
    }
  }
}
.ba-menu-toggle {
  border: none;
  background: none;
  color: #fefefe;
  cursor: pointer;
  position: relative;
  z-index: 2;
  min-width: initial;
  padding: 0;
  height: auto;
  line-height: 1;
  margin-top: 35px;
  &:hover,
  &:focus {
    background: none;
    color: $primary-color;
    border: none;
  }
}
.ba-menu-toggle svg {
  fill: currentColor;
}

@media (min-width: $large) {
  .ba-menu-toggle {
    display: none;
  }
}

.ba-logo img {
  padding-top: 41px;
  display: block;
}

.ba-header-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ba-button-contact-phone {
   background-color: #e25050;
   color: #fff;
   position: absolute;
   right: 0;
   height: 39px;
   line-height: 39px;
   min-width: 130px;
   text-align: center;
   padding: 0 30px;
   border: none;
	border-radius: 0;
	
	@media screen and (max-width:640px){
		display: none;
	}

   &::before {
      content: "";
      min-width: 39px;
      min-height: 39px;
	   background: #bd4141 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAy0lEQVQ4T52SYQ3CUAyEv1MADgAFBAc4ABTAHIACkAAKmATmABwgAScltzzIY4xsoT+WNO++tb1WETEGzsAcWEm60CMUERYukraStOzBYTAawomkRxfcBp4kbfuAd2CaCXeSjn3AA7D/Z8Yh4JkGwF3SrKua3+VPRGzSSpyWkoouuAYTXALrlBaSnP+MHHTL18yod+WIsMsjwI7Xq3qDqWoTtuMW5kfhgyk/wAz2Ol5tt7b7BWYz2zD/wG434/YTzKp7Prf6OpIK2D4B/QhMMR5yLOMAAAAASUVORK5CYII=) 50% no-repeat;
	   position: absolute;
      left: -37px;
	}

	&:hover{
		background-color: #bd4141;
	}

   @media screen and (min-width: $large) {
      top: 100px;
   }
}
